form {
  padding: 1.5rem 3rem;
  @include breakpoint-down(mdsmall) {
    padding: 1rem 2rem;
  }
}

.mini-grid {
  width: 45vw;
  @include breakpoint-down(medium) {
    width: 60vw;
  }
  @include breakpoint-down(small) {
    width: 90vw;
  }
  @include breakpoint-down(mdsmall) {
    width: 100vw;
  }
}

input {
  font-size: medium;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid rgb(83, 83, 83);
}

@supports (grid-column: auto) {
  .error-message {
    grid-column: 1 / span 2;
    text-align: center;
    color: rgba(255, 0, 0, 0.705);
    margin: 0;
  }
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select::-ms-expand {
  display: none;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 98% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: medium;
  border: 1px solid rgb(83, 83, 83);
  color: black;
}

@supports (display: grid) {
  .mini-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:
      "label input"
      "label input"
      "label input"
      "label input"
      "label input";
    @include breakpoint-down(small) {
      grid-template-areas: initial;
    }
  }
  label {
    grid-area: "label";
  }

  .description {
    grid-column: 1 / span 2;
  }
}
