.card-stack {
  padding: 3rem;
}

.scroll {
  overflow-y: scroll;
}

.message {
  @include breakpoint-down(mdsmall) {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.space-grid {
  @include breakpoint-down(mdsmall) {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  transition: all 150ms;
  max-width: 18rem;
  max-height: 18rem;
  @include breakpoint-down(small) {
    padding: 0.5rem;
  }
}

.checkbox-selected {
  background-color: rgba(255, 0, 0, 0.137);
}

.product-info {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  @include breakpoint-down(medium) {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }
}

.delete-checkbox {
  margin: 0;
  cursor: pointer;
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  @include breakpoint-down(small) {
    margin: 0.6rem;
  }
}

.center-message {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  color: rgba(255, 0, 0, 0.705);
}

.loading {
  width: $radius;
  height: $radius;
  border-radius: 50%;
  border: $ring-width solid transparent;
}

.loading:before {
  content: " ";
  display: block;
  bottom: 4px;
  right: 4px;
  position: relative;
  left: calc($ring-width * -1);
  top: calc($ring-width * -1);
  width: $radius;
  height: $radius;
  border-radius: 50%;
  border: 9px solid;
  border-color: $button-primary-background transparent transparent transparent;
  animation: loading-rotate 0.8s ease-out infinite;
}

@supports (grid-column: auto) {
  .loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / span 5;
    grid-row: 1 / span 2;
  }
  .message {
    grid-column: 1 / span 2;
  }
}

@supports (filter: hue-rotate()) {
  .delete-checkbox:checked {
    filter: brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%)
      contrast(0.8);
  }
}

@supports (display: grid) {
  .card-stack {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 10rem;
    @include breakpoint-up(medium) {
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      grid-auto-rows: 15rem;
    }
    @include breakpoint-down(medium) {
      grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
      grid-auto-rows: 11rem;
    }
  }
}
