$button-primary-background: rgb(15, 115, 232);
$button-primary-color: white;
$button-primary-background-hover: rgb(15, 93, 189);
$button-warning-background: rgb(189, 25, 25);
$button-gray-background: rgb(87, 87, 87)
